<div class="main">
  <div class="header">
      <div class="header__title">The Tip Bank</div>
  </div>

  <div class="selection">
      <div class="selection__label">Select the date you would like to view:</div>
      <select id="lstDates" class="selection__dropdown" [(ngModel)]="tipData.selected">
          <option *ngFor="let day of tipData.days" [ngValue]="day">{{day.date}}</option>
      </select>
  </div>
  
  <div class="data">
      <div class="data__parts">
          <div class="data__tips">Total Money: ${{tipData.selected.money}}</div>
          <div class="data__hours">Total Hours: {{tipData.selected.hours}}</div>
      </div>
      <div class="data__total">
        You made ${{tipData.selected.money}} in tips over {{tipData.selected.hours}} hours of work.
        You've made ${{tipData.selected.money/tipData.selected.hours | number:'1.2-2'}} per hour.
      </div>
  </div>

  <div class="misc">
      <div class="total">
          <input type="button" value="Show Grand Total" class="button" (click)="toggleTotal()"/>
          <div class="total__results" *ngIf="showTotal">
            You've made ${{tipData.totalTips}} in tips over {{tipData.totalHours}} hours of work.<br>
            This leads to average of ${{tipData.totalTips/tipData.totalHours | number:'1.2-2'}} per hour.
          </div>
      </div>
      <div class="tipSection">
          <input type="button" value="Show Tip Intervals" class="button" (click)="toggleTips()"/>
          <div class="tipSection__results" *ngIf="showTipInterval">
            In {{tipData.days.length}} days,
          </div>
      </div>
      <div class="hourSection">
          <input type="button" value="Show Hour Intervals" class="button" (click)="toggleHours()"/>
          <div class="hourSection__results" *ngIf ="showHourInterval">
            In {{tipData.days.length}} days,
          </div>
      </div>
  </div>
</div>

