<div class="main">
  <div class="header">
      <div class="header__title">The Tip Bank</div>
  </div>

  <div class="selection">
      <div class="selection__label">Select the date you would like to view:</div>
      <select id="lstDates" class="selection__dropdown"></select>
  </div>
  
  <div class="data">
      <div class="data__parts">
          <div class="data__tips"></div>
          <div class="data__hours"></div>
      </div>
      <div class="data__total"></div>
  </div>

  <div class="misc">
      <div class="total">
          <input type="button" value="Show Grand Total" class="button" />
          <div class="total__results"></div>
      </div>
      <div class="tipSection">
          <input type="button" value="Show Tip Intervals" class="button" />
          <div class="tipSection__results"></div>
      </div>
      <div class="hourSection">
          <input type="button" value="Show Hour Intervals" class="button" />
          <div class="hourSection__results"></div>
      </div>
  </div>
</div>

