@import "./../_globals";

.main {
	//height:100%;
	//display: flex;
    @include display-flex();
    flex-flow: column nowrap;
    align-items: flex-start;
    @include nearEdge();
}

.header {
    &__title{
        font-size: 36px;
        color: $accent-color;

        @media #{$phone}{
            font-size: 24px;
        }
    }
}

.button {
    border-radius: 10px;
    color: $font-color;
    background-color: $accent-color;
    border: none;
    outline: none;
    width: 150px;
    height: 25px;
    
    &:hover{
        cursor: pointer;
    }

    &:disabled,&[disabled]{
        background-color: #013d15;
        color: #666666;
    }

    &--delete{
        background-color: $danger-color;
    }

    @media #{$phone}{
        font-size: 12px;
        width: 130px;
        height: 20px;
    }
}

.selection {

    &__dropdown{
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';

        margin-top:15px;
        padding-left: 20px;
        border-radius: 10px;
        color: $font-color;
        background-color: $accent-color;
        width: 200px;
        height: 50px;
        outline: none;
        border: none;

        @media #{$phone}{
            font-size: 12px;
            width: 175px;
            height: 40px;
        }
    }
}

.data {
    @include separate();

    &__parts{
        @include display-flex();
        flex-flow: row nowrap;
    }

    &__tips{
        margin-right: 10px;
    }

    @media #{$phone}{
        width: 80%;
    }
}

.misc{
    @include separate();
    @include display-flex();
    flex-flow: row wrap;

    @media #{$phone}{
        flex-flow: column nowrap;
    }
}

.total, .tipSection, .hourSection{
    display:block;
}

.total, .tipSection{
    margin-right: 5px;
}


.tipSection, .hourSection{
    @media #{$phone}{
       margin-top: 5px;
    }
}

.add {
    @include display-flex();
    flex-flow: column nowrap;
    margin-top: 25px;
}

.form{
    display: block;
    border:solid;
    padding: 5px;
    margin-top: 10px;

    &__label {
        margin-top:5px;
        margin-bottom:3px;
    }

    &__button-set{
        margin-top:5px;
        margin-bottom:5px;
    }

    &__disabled{
        color:$accent-color;
    }
}

.delete, .update {
    @include display-flex();
    flex-flow: column nowrap;
    margin-top: 10px;
}