<div class="loadingOverlay" *ngIf="tipData.loading"><div>{{tipData.status}}<i class="fa fa-spinner fa-spin"></i></div></div>

<div class="main">
  <div class="header">
      <div class="header__title">The Tip Bank</div>
  </div>

  <div class="selection">
      <div class="selection__label">Select the date you would like to view:</div>
      <select id="lstDates" class="selection__dropdown" [(ngModel)]="tipData.selected">
          <option *ngFor="let day of tipData.days" [ngValue]="day">{{day.date}}</option>
      </select>
  </div>
  
  <div class="data">
      <div class="data__parts">
          <div class="data__tips">Total Money: ${{tipData.selected.money}}</div>
          <div class="data__hours">Total Hours: {{tipData.selected.hours}}</div>
      </div>
      <div class="data__total">
        You made ${{tipData.selected.money}} in tips over {{tipData.selected.hours}} hours of work.
        You've made ${{tipData.selected.money/tipData.selected.hours | number:'1.2-2'}} per hour.
      </div>
  </div>

  <div class="misc">
      <div class="total">
          <input type="button" value="Show Grand Total" class="button" (click)="toggleTotal()"/>
          <div class="total__results" *ngIf="showTotal">
            You've made ${{tipData.totalTips}} in tips over {{tipData.totalHours}} hours of work.<br>
            This leads to average of ${{tipData.totalTips/tipData.totalHours | number:'1.2-2'}} per hour.
          </div>
      </div>
      <div class="tipSection">
          <input type="button" value="Show Tip Intervals" class="button" (click)="toggleTips()"/>
          <div class="tipSection__results" *ngIf="showTipInterval">
            In {{tipData.days.length}} days: <br>
            You had an average of under $1 per hour for {{tipData.underOne}} days, <br>
            an average between $1 and $1.49 for {{tipData.lowerOne}} days, <br>
            an average of $1.50 and $1.99 for {{tipData.highOne}} days, <br>
            and an average of over $2 for {{tipData.twoLongBreak}} days.
          </div>
      </div>
      <div class="hourSection">
          <input type="button" value="Show Hour Intervals" class="button" (click)="toggleHours()"/>
          <div class="hourSection__results" *ngIf ="showHourInterval">
            In {{tipData.days.length}} days: <br>
            You worked under 4.5 hours for {{tipData.noBreak}} days, <br>
            above 4.5 and under 6 for {{tipData.oneBreak}} days, <br>
            above 6 and under 8 for {{tipData.oneLongBreak}} days, <br>
            above 8 and under 10 for {{tipData.twoBreak}} days, <br>
            and over 10 hours for {{tipData.twoLongBreak}} days.
          </div>
      </div>
  </div>

  <div class="add">
      <input type="button" value="Add New Day" class="button" (click)="toggleNewDay()">
      <div class="form" *ngIf="showNewDay">
        <div class="form__label">Select Date:</div>
        <input class="form__textbox" type="date" [(ngModel)]="date" />
        <div class="form__label">Tips Made:</div>
        <input class="form__textbox" type="number" [(ngModel)]="money"/>
        <div class="form__label">Hours Worked:</div>
        <input class="form__textbox" type="number" [(ngModel)]="hours"/>

        <div class="form__button-set">
            <button class="button" [disabled]="!date || !money || !hours" (click)="sendDay(date,money,hours)">Submit</button>
        </div>
      </div>
  </div>
  
  <div class="delete">
      <input type="button" value="Delete This Day" class="button button--delete" (click)="toggleDelete()">
      <div class="form" *ngIf="showDelete">
          <div class="form__label">Are you sure you want to delete this day?</div>
          <div class="form__button-set">
            <button class="button button--delete" (click)="deleteDay(tipData.selected._id)">Yes, Delete This</button>
            <button class="button" (click)="toggleDelete()">No, Turn This Off</button>
          </div>
      </div>
  </div>

  <div class="update">
      <input type=button value="Edit This Day" class="button" (click)="toggleEdit()">
      <div class="form" *ngIf="showEdit">
          <div class="form__label">Date:</div>
          <div class="form__disabled">{{tipData.selected.date}}</div>
          <div class="form__label">Tips Made:</div>
          <input class="form__textbox" type="number" [(ngModel)]="tipData.selected.money"/>
          <div class="form__label">Hours Worked:</div>
          <input class="form__textbox" type="number" [(ngModel)]="tipData.selected.hours"/>
          <div class="form__button-set">
            <button class="button" [disabled]="!tipData.selected.money || !tipData.selected.hours" (click)="editDay(tipData.selected)">Submit</button>
          </div>
      </div>
      
  </div>
</div>

